[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
aiohttp = "*"
beautifulsoup4 = "*"
asyncio = "*"
psycopg2-binary = "*"
pymongo = {extras = ["srv"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
